## Data Cleaning - Pre-Generated Data Files  
### EPA - United States Environmental Protection Agency  

**Link:** [EPA Air Data Download Files](https://aqs.epa.gov/aqsweb/airdata/download_files.html)

In [20]:
import pandas as pd

In [51]:
import pandas as pd

def cleanData(year: str):
    # change to respective path
    df = pd.read_csv(f'../data/clean-data/annual_conc_by_monitor/individual-data/annual_conc_by_monitor_{year}.csv', low_memory=False)
    
    #Ozone Data Cleaning and Processing

    filtered_Ozone_df = df[(df['Parameter Name'] == 'Ozone') & (df['Sample Duration'] == '8-HR RUN AVG BEGIN HOUR')]

    # Calculating the average of 'Arithmetic Mean' grouped by 'State Code'

    ozone_average_by_state = filtered_Ozone_df.groupby('State Name')['Arithmetic Mean'].mean().reset_index(name='Ozone Average')

    filtered_Sulfur_df = df[(df['Parameter Name'] == 'Sulfur dioxide') & (df['Sample Duration'] == '1 HOUR')]

    #Calculating the average of 'Arithmetic Mean' grouped by 'State Code'
    sulfur_average_by_state = filtered_Sulfur_df.groupby('State Name')['Arithmetic Mean'].mean().reset_index(name='Sulfur Average')

    filtered_Carbon_df = df[(df['Parameter Name'] == 'Carbon monoxide') & (df['Sample Duration'] == '8-HR RUN AVG END HOUR')]

    # Calculating the average of 'Arithmetic Mean' grouped by 'State Code'
    carbon_average_by_state = filtered_Carbon_df.groupby('State Name')['Arithmetic Mean'].mean().reset_index(name='Carbon Average')

    filtered_Nitrogen_df = df[(df['Parameter Name'] == 'Nitrogen dioxide (NO2)') & (df['Sample Duration'] == '1 HOUR')]

    # Calculating the average of 'Arithmetic Mean' grouped by 'State Code'
    nitrogen_average_by_state = filtered_Nitrogen_df.groupby('State Name')['Arithmetic Mean'].mean().reset_index(name='Nitrogen Average')

    filtered_Small_df = df[(df['Parameter Name'] == 'PM2.5 - Local Conditions') & (df['Sample Duration'] == '24-HR BLK AVG')]

    # Calculating the average of 'Arithmetic Mean' grouped by 'State Code'
    small_particulate_average_by_state = filtered_Small_df.groupby('State Name')['Arithmetic Mean'].mean().reset_index(name='PM2.5 Average')

    filtered_df = df[(df['Parameter Name'] == 'PM10 Total 0-10um STP') & (df['Sample Duration'] == '24-HR BLK AVG')]

    # Calculating the average of 'Arithmetic Mean' grouped by 'State Code'
    large_particulate_average_by_state = filtered_df.groupby('State Name')['Arithmetic Mean'].mean().reset_index(name='PM10 Average')

    all_cols = df.columns.tolist()
    selected_cols = [   'State Name',
                     "Ozone Average","Carbon Average",	"Nitrogen Average",	
                     "Sulfur Average",	"PM2.5 Average","PM10 Average",]
    
    remove_cols = list(set(all_cols) - set(selected_cols))
    df.drop(remove_cols, axis=1, inplace=True)

    df.drop_duplicates(inplace=True, ignore_index=True)

    df = df.merge(ozone_average_by_state, on='State Name', how='left')
    df = df.merge(carbon_average_by_state, on='State Name', how='left')
    df = df.merge(nitrogen_average_by_state, on='State Name', how='left')
    df = df.merge(sulfur_average_by_state, on='State Name', how='left')
    df = df.merge(small_particulate_average_by_state, on='State Name', how='left')
    df = df.merge(large_particulate_average_by_state, on='State Name', how='left')
    

    #Breakpoints

    df['Carbon Average'].fillna(0, inplace= True)
    df['Nitrogen Average'].fillna(0, inplace= True)
    df['Ozone Average'].fillna(0, inplace= True)
    df['Sulfur Average'].fillna(0, inplace= True)
    df['PM2.5 Average'].fillna(0, inplace= True)
    df['PM10 Average'].fillna(0, inplace= True)


    pm25_breakpoints = {
        (0.0, 9): (0, 50),
        (9.1, 35.4): (51, 100),
        (35.5, 55.4): (101, 150),
        (55.5, 150.4): (151, 200),
        (150.5, 250.4): (201, 300),
        (250.5, 350.4): (301, 400),
        (350.5, 500.4): (401, 500)
    }
    pm10_breakpoints = {
        (0.0, 54.9): (0, 50),
        (55, 154.9): (51, 100),
        (155, 254.9): (101, 150),
        (255, 354.9): (151, 200),
        (355, 424.9): (201, 300),
        (425, 504.9): (301, 400),
        (505, 609): (401, 500)
    }

    no2_breakpoints = {
        (0, 53): (0, 50),
        (54, 100): (51, 100),
        (101, 360): (101, 150),
        (361, 649): (151, 200),
        (650, 1249): (201, 300),
        (1250, 1649): (301, 400),
        (1650, 2049): (401, 500)
    }
    ozone_breakpoints = {
        (0, 54): (0, 50),
        (55, 70): (51, 100),
        (71, 85): (101, 150),
        (86, 105): (151, 200),
        (106, 200): (201, 300)
    }
    carbon_breakpoints = {
        (0, 4.4): (0, 50),
        (4.5, 9.4): (51, 100),
        (9.5, 12.4): (101, 150),
        (12.5, 15.4): (151, 200),
        (15.5, 30.4): (201, 300)
    }

    sulphur_breakpoints = {
        (0, 35.9): (0, 50),
        (36, 76.9): (51, 100),
        (77, 185.9): (101, 150),
        (186, 304.9): (151, 200),
        (305, 604.9): (201, 300)
    }

    def calculate_aqi_from_concentration(concentration, breakpoints):
        for (bp_lo, bp_hi), (aqi_lo, aqi_hi) in breakpoints.items():
            if bp_lo <= concentration <= bp_hi:
                return round(((aqi_hi - aqi_lo) / (bp_hi - bp_lo)) * (concentration - bp_lo) + aqi_lo)
        # Return maximum AQI value otherwise
        return 500

    # Round each concentration to match the breakpoints
    df['Carbon Average'] = df['Carbon Average'].apply(lambda x: round(x, 1))
    df['Nitrogen Average'] = df['Nitrogen Average'].apply(lambda x: round(x))
    df['Ozone Average'] = df['Ozone Average'].apply(lambda x: round(x))
    df['Sulfur Average'] = df['Sulfur Average'].apply(lambda x: round(x))
    df['PM2.5 Average'] = df['PM2.5 Average'].apply(lambda x: round(x, 1))
    df['PM10 Average'] = df['PM10 Average'].apply(lambda x: round(x, 1))


    # Calculate the AQI for each pollutant
    df['Ozone AQI'] = df['Ozone Average'].apply(lambda x: calculate_aqi_from_concentration(x, ozone_breakpoints))
    df['Carbon AQI'] = df['Carbon Average'].apply(lambda x: calculate_aqi_from_concentration(x, carbon_breakpoints))
    df['Nitrogen AQI'] = df['Nitrogen Average'].apply(lambda x: calculate_aqi_from_concentration(x, no2_breakpoints))
    df['Sulfur AQI'] = df['Sulfur Average'].apply(lambda x: calculate_aqi_from_concentration(x, sulphur_breakpoints))
    df['PM2.5 AQI'] = df['PM2.5 Average'].apply(lambda x: calculate_aqi_from_concentration(x, pm25_breakpoints))
    df['PM10 AQI'] = df['PM10 Average'].apply(lambda x: calculate_aqi_from_concentration(x, pm10_breakpoints))


    # The overall AQI for the date would be the maximum AQI value across all pollutants
    df['Overall AQI'] = df[['PM2.5 AQI', 'Nitrogen AQI', 'Ozone AQI', 'PM10 AQI', 'Sulfur AQI','Carbon AQI']].max(axis=1).round().astype(int)






    # change to respective path
    df.to_csv(f'../Processed_Data/filtered_data_{year}.csv', index=False)

In [18]:
# Ozone filteration and average calulation by state

import pandas as pd

df = pd.read_csv(f'/Users/rahib/ctp_data/annual_conc_by_monitor_2023.csv', low_memory=False)

filtered_df = df[(df['Parameter Name'] == 'Ozone') & (df['Sample Duration'] == '8-HR RUN AVG BEGIN HOUR')]

# Calculating the average of 'Arithmetic Mean' grouped by 'State Code'
#ozone_average_by_state = filtered_df.groupby('State Name')['Arithmetic Mean'].mean()

ozone_average_by_state = filtered_df.groupby('State Name')['Arithmetic Mean'].mean().reset_index(name='Ozone Average')

#df = df.merge(ozone_average_by_state, on='State Name', how='left')

#df

# Display the result
#print(ozone_average_by_state)

FileNotFoundError: [Errno 2] No such file or directory: '/Users/rahib/ctp_data/annual_conc_by_monitor_2023.csv'

In [19]:
#Sulphur averagecalulcation by state

df = pd.read_csv(f'/Users/rahib/ctp_data/annual_conc_by_monitor_2023.csv', low_memory=False)

filtered_df = df[(df['Parameter Name'] == 'Sulfur dioxide') & (df['Sample Duration'] == '1 HOUR')]

# Calculating the average of 'Arithmetic Mean' grouped by 'State Code'
sulfur_average_by_state = filtered_df.groupby('State Name')['Arithmetic Mean'].mean().reset_index(name='Sulfur Average')


# Display the result
print(sulfur_average_by_state)

FileNotFoundError: [Errno 2] No such file or directory: '/Users/rahib/ctp_data/annual_conc_by_monitor_2023.csv'

In [52]:
#Carbon Average Calculation by State

df = pd.read_csv(f'/Users/rahib/ctp_data/annual_conc_by_monitor_2023.csv', low_memory=False)

filtered_df = df[(df['Parameter Name'] == 'Carbon monoxide') & (df['Sample Duration'] == '8-HR RUN AVG END HOUR')]

# Calculating the average of 'Arithmetic Mean' grouped by 'State Code'
carbon_average_by_state = filtered_df.groupby('State Name')['Arithmetic Mean'].mean().reset_index(name='Carbon Average')

# Display the result
print(carbon_average_by_state)

              State Name  Carbon Average
0                Alabama        0.179913
1                 Alaska        0.325719
2                Arizona        0.287274
3               Arkansas        0.420219
4             California        0.309614
5               Colorado        0.262584
6            Connecticut        0.261225
7   District Of Columbia        0.325275
8                Florida        0.278191
9                Georgia        0.472353
10                Hawaii        0.113790
11                 Idaho        0.193458
12              Illinois        0.233717
13               Indiana        0.315926
14                  Iowa        0.217986
15                Kansas        0.143523
16              Kentucky        0.260309
17             Louisiana        0.296406
18                 Maine        0.178426
19              Maryland        0.209562
20         Massachusetts        0.287923
21              Michigan        0.332531
22             Minnesota        0.314648
23           Mississippi        0.238401
24              Missouri        0.271601
25               Montana        0.171858
26              Nebraska        0.238679
27                Nevada        0.259397
28         New Hampshire        0.153393
29            New Jersey        0.376049
30            New Mexico        0.218109
31              New York        0.247609
32        North Carolina        0.306326
33          North Dakota        0.180082
34                  Ohio        0.246825
35              Oklahoma        0.358062
36                Oregon        0.196621
37          Pennsylvania        0.311192
38           Puerto Rico        0.223732
39          Rhode Island        0.327866
40        South Carolina        0.126346
41          South Dakota        0.243321
42             Tennessee        0.275034
43                 Texas        0.283932
44                  Utah        0.193897
45               Vermont        0.176364
46              Virginia        0.281207
47            Washington        0.210981
48         West Virginia        0.209500
49             Wisconsin        0.244814
50               Wyoming        0.110167

In [53]:
#Nitrogen Average Calculation by State

df = pd.read_csv(f'/Users/rahib/ctp_data/annual_conc_by_monitor_2023.csv', low_memory=False)

filtered_df = df[(df['Parameter Name'] == 'Nitrogen dioxide (NO2)') & (df['Sample Duration'] == '1 HOUR')]

# Calculating the average of 'Arithmetic Mean' grouped by 'State Code'
nitrogen_average_by_state = filtered_df.groupby('State Name')['Arithmetic Mean'].mean().reset_index(name='Nitrogen Average')

# Display the result
print(nitrogen_average_by_state)

              State Name  Nitrogen Average
0                Alabama         14.857208
1                Arizona         19.716058
2               Arkansas          6.375365
3             California         12.780099
4               Colorado         11.641546
5            Connecticut         15.998629
6               Delaware         13.673875
7   District Of Columbia         16.369841
8                Florida         12.104429
9                Georgia         19.490053
10                Hawaii          6.145184
11                 Idaho         14.984825
12              Illinois         17.692747
13               Indiana         11.464871
14                  Iowa          6.355422
15                Kansas          7.636685
16              Kentucky         11.314929
17             Louisiana          8.641623
18                 Maine          6.726784
19              Maryland         13.653340
20         Massachusetts         11.251638
21              Michigan         14.653077
22             Minnesota         10.801407
23           Mississippi          6.582739
24              Missouri         13.550632
25               Montana          2.950513
26                Nevada         20.307559
27         New Hampshire          3.545907
28            New Jersey         17.622178
29            New Mexico         11.063100
30              New York         16.355892
31        North Carolina         10.256090
32          North Dakota          4.591009
33                  Ohio         14.008922
34              Oklahoma         11.119297
35                Oregon         11.028141
36          Pennsylvania         12.754686
37           Puerto Rico          9.123129
38          Rhode Island         12.366971
39        South Carolina          7.662837
40          South Dakota          8.693870
41             Tennessee         11.048285
42                 Texas         10.996988
43                  Utah         11.924623
44               Vermont          8.933874
45              Virginia         11.686888
46            Washington         18.083577
47             Wisconsin         10.267507
48               Wyoming          4.915887

In [54]:
#PM2.5 Average Calculation by State

df = pd.read_csv(f'/Users/rahib/ctp_data/annual_conc_by_monitor_2023.csv', low_memory=False)

filtered_df = df[(df['Parameter Name'] == 'PM2.5 - Local Conditions') & (df['Sample Duration'] == '24-HR BLK AVG')]

# Calculating the average of 'Arithmetic Mean' grouped by 'State Code'
small_particulate_average_by_state = filtered_df.groupby('State Name')['Arithmetic Mean'].mean().reset_index(name='PM2.5 Average')

# Display the result
print(small_particulate_average_by_state)

              State Name  PM2.5 Average
0                Alabama       8.370108
1                 Alaska       4.545506
2                Arizona       7.319577
3               Arkansas      11.000141
4             California       7.661331
5               Colorado       6.030074
6            Connecticut       7.549358
7      Country Of Mexico      12.605847
8               Delaware       8.936746
9   District Of Columbia       8.722264
10               Florida       7.057733
11               Georgia      10.016676
12                Hawaii       3.271501
13              Illinois       9.100609
14               Indiana      10.438122
15                  Iowa      10.845811
16                Kansas       8.144290
17              Kentucky       8.498699
18             Louisiana       9.032349
19                 Maine       6.166939
20              Maryland       7.039947
21         Massachusetts       7.023527
22              Michigan      10.817855
23             Minnesota       7.864462
24           Mississippi      10.001916
25              Missouri       9.631491
26               Montana       7.567665
27              Nebraska       7.244999
28                Nevada       5.079409
29         New Hampshire       5.908327
30            New Jersey       8.818848
31            New Mexico       5.874968
32              New York       8.045547
33        North Carolina       8.647098
34          North Dakota       9.879174
35                  Ohio      10.610547
36              Oklahoma       8.839043
37                Oregon       8.454995
38          Pennsylvania       9.729057
39           Puerto Rico       4.002985
40          Rhode Island       6.972703
41        South Carolina       8.733550
42          South Dakota       7.131461
43             Tennessee       8.779672
44                 Texas       9.246793
45                  Utah       7.060024
46               Vermont       6.343465
47              Virginia       8.282406
48            Washington       7.389618
49         West Virginia      10.146531
50             Wisconsin       9.154571
51               Wyoming       3.821143

In [55]:
#PM10 Average Calculation by State

df = pd.read_csv(f'/Users/rahib/ctp_data/annual_conc_by_monitor_2023.csv', low_memory=False)

filtered_df = df[(df['Parameter Name'] == 'PM10 Total 0-10um STP') & (df['Sample Duration'] == '24-HR BLK AVG')]


# Calculating the average of 'Arithmetic Mean' grouped by 'State Code'
large_particulate_average_by_state = filtered_df.groupby('State Name')['Arithmetic Mean'].mean().reset_index(name='PM10 Average')

# Display the result
print(large_particulate_average_by_state)

              State Name  PM10 Average
0                Alabama     19.918663
1                 Alaska     11.625622
2                Arizona     32.005115
3             California     25.249740
4               Colorado     18.993431
5            Connecticut     14.896639
6      Country Of Mexico     54.398329
7   District Of Columbia     17.661729
8                Florida     18.530195
9                Georgia     18.415520
10                Hawaii     14.537993
11                 Idaho     45.367379
12              Illinois     29.173494
13               Indiana     21.001673
14                  Iowa     34.920504
15                Kansas     24.712202
16              Kentucky     20.314208
17             Louisiana     19.700003
18                 Maine     14.365160
19         Massachusetts     13.733037
20              Michigan     20.087767
21             Minnesota     21.764107
22           Mississippi     20.474926
23              Missouri     24.652847
24               Montana     18.555313
25              Nebraska     21.063439
26                Nevada     21.037694
27         New Hampshire     11.245287
28            New Mexico     27.593661
29        North Carolina     13.930029
30          North Dakota     17.474037
31                  Ohio     21.249214
32              Oklahoma     22.822242
33                Oregon     12.524966
34          Pennsylvania     16.637244
35           Puerto Rico     40.083745
36        South Carolina     16.344151
37          South Dakota     20.307816
38             Tennessee     19.792890
39                 Texas     31.043890
40                  Utah     17.876067
41              Virginia     15.901601
42            Washington     18.691259
43         West Virginia     18.092358
44             Wisconsin     18.616373
45               Wyoming     11.348264

In [56]:
df = df.merge(ozone_average_by_state, on='State Name', how='left')
df = df.merge(carbon_average_by_state, on='State Name', how='left')
df = df.merge(nitrogen_average_by_state, on='State Name', how='left')
df = df.merge(sulfur_average_by_state, on='State Name', how='left')
df = df.merge(small_particulate_average_by_state, on='State Name', how='left')
df = df.merge(large_particulate_average_by_state, on='State Name', how='left')
df

,State Code,County Code,Site Num,Parameter Code,POC,Latitude,Longitude,Datum,Parameter Name,Sample Duration,...,County Name,City Name,CBSA Name,Date of Last Change,Ozone Average,Carbon Average,Nitrogen Average,Sulfur Average,PM2.5 Average,PM10 Average
0,1,3,10,44201,1,30.497478,-87.880258,NAD83,Ozone,1 HOUR,...,Baldwin,Fairhope,"Daphne-Fairhope-Foley, AL",2024-05-24,0.043222,0.179913,14.857208,1.951925,8.370108,19.918663
1,1,3,10,44201,1,30.497478,-87.880258,NAD83,Ozone,8-HR RUN AVG BEGIN HOUR,...,Baldwin,Fairhope,"Daphne-Fairhope-Foley, AL",2024-05-24,0.043222,0.179913,14.857208,1.951925,8.370108,19.918663
2,1,3,10,44201,1,30.497478,-87.880258,NAD83,Ozone,8-HR RUN AVG BEGIN HOUR,...,Baldwin,Fairhope,"Daphne-Fairhope-Foley, AL",2024-05-24,0.043222,0.179913,14.857208,1.951925,8.370108,19.918663
3,1,3,10,44201,1,30.497478,-87.880258,NAD83,Ozone,8-HR RUN AVG BEGIN HOUR,...,Baldwin,Fairhope,"Daphne-Fairhope-Foley, AL",2024-05-24,0.043222,0.179913,14.857208,1.951925,8.370108,19.918663
4,1,3,10,88101,3,30.497478,-87.880258,NAD83,PM2.5 - Local Conditions,1 HOUR,...,Baldwin,Fairhope,"Daphne-Fairhope-Foley, AL",2024-08-06,0.043222,0.179913,14.857208,1.951925,8.370108,19.918663
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
77955,80,26,6,88101,21,31.291293,-110.951513,WGS84,PM2.5 - Local Conditions,24-HR BLK AVG,...,SONORA,NaN,NaN,2024-08-07,0.042174,NaN,NaN,NaN,12.605847,54.398329
77956,80,26,8012,44201,1,32.466389,-114.768611,WGS84,Ozone,1 HOUR,...,SONORA,NaN,NaN,2024-05-24,0.042174,NaN,NaN,NaN,12.605847,54.398329
77957,80,26,8012,44201,1,32.466389,-114.768611,WGS84,Ozone,8-HR RUN AVG BEGIN HOUR,...,SONORA,NaN,NaN,2024-05-24,0.042174,NaN,NaN,NaN,12.605847,54.398329
77958,80,26,8012,44201,1,32.466389,-114.768611,WGS84,Ozone,8-HR RUN AVG BEGIN HOUR,...,SONORA,NaN,NaN,2024-05-24,0.042174,NaN,NaN,NaN,12.605847,54.398329
77959,80,26,8012,44201,1,32.466389,-114.768611,WGS84,Ozone,8-HR RUN AVG BEGIN HOUR,...,SONORA,NaN,NaN,2024-05-24,0.042174,NaN,NaN,NaN,12.605847,54.398329

In [57]:
all_cols = df.columns.tolist()
selected_cols = [   'State Name',
                     "Ozone Average","Carbon Average",	"Nitrogen Average",	
                     "Sulfur Average",	"PM2.5 Average","PM10 Average",]
    
remove_cols = list(set(all_cols) - set(selected_cols))
df.drop(remove_cols, axis=1, inplace=True)

df.drop_duplicates(inplace=True, ignore_index=True)

In [58]:
df.drop_duplicates(inplace=True, ignore_index=True)
df

,State Name,Ozone Average,Carbon Average,Nitrogen Average,Sulfur Average,PM2.5 Average,PM10 Average
0,Alabama,0.043222,0.179913,14.857208,1.951925,8.370108,19.918663
1,Alaska,0.028366,0.325719,NaN,2.182044,4.545506,11.625622
2,Arizona,0.049037,0.287274,19.716058,1.755658,7.319577,32.005115
3,Arkansas,0.041512,0.420219,6.375365,0.741973,11.000141,NaN
4,California,0.042853,0.309614,12.780099,0.654154,7.661331,25.249740
5,Colorado,0.049375,0.262584,11.641546,2.059463,6.030074,18.993431
6,Connecticut,0.044706,0.261225,15.998629,0.245845,7.549358,14.896639
7,Delaware,0.044349,NaN,13.673875,0.420791,8.936746,NaN
8,District Of Columbia,0.039905,0.325275,16.369841,0.655256,8.722264,17.661729
9,Florida,0.038653,0.278191,12.104429,1.574574,7.057733,18.530195
10,Georgia,0.042953,0.472353,19.490053,2.311342,10.016676,18.415520
11,Hawaii,0.026811,0.113790,6.145184,2.731039,3.271501,14.537993
12,Idaho,0.046905,0.193458,14.984825,3.881806,NaN,45.367379
13,Illinois,0.046454,0.233717,17.692747,1.806726,9.100609,29.173494
14,Indiana,0.044837,0.315926,11.464871,1.805423,10.438122,21.001673
15,Iowa,0.045449,0.217986,6.355422,0.808401,10.845811,34.920504
16,Kansas,0.047159,0.143523,7.636685,0.272587,8.144290,24.712202
17,Kentucky,0.044757,0.260309,11.314929,1.452255,8.498699,20.314208
18,Louisiana,0.040354,0.296406,8.641623,1.940870,9.032349,19.700003
19,Maine,0.036762,0.178426,6.726784,0.076555,6.166939,14.365160
20,Maryland,0.045658,0.209562,13.653340,0.326567,7.039947,NaN
21,Massachusetts,0.040997,0.287923,11.251638,0.374783,7.023527,13.733037
22,Michigan,0.042968,0.332531,14.653077,1.540018,10.817855,20.087767
23,Minnesota,0.042678,0.314648,10.801407,0.929310,7.864462,21.764107
24,Mississippi,0.044182,0.238401,6.582739,0.255040,10.001916,20.474926
25,Missouri,0.047129,0.271601,13.550632,9.891772,9.631491,24.652847
26,Montana,0.044070,0.171858,2.950513,1.782442,7.567665,18.555313
27,Nebraska,0.046293,0.238679,NaN,1.572441,7.244999,21.063439
28,Nevada,0.047099,0.259397,20.307559,0.666151,5.079409,21.037694
29,New Hampshire,0.040478,0.153393,3.545907,0.624841,5.908327,11.245287
30,New Jersey,0.042759,0.376049,17.622178,0.663114,8.818848,NaN
31,New Mexico,0.045422,0.218109,11.063100,39.265605,5.874968,27.593661
32,New York,0.040739,0.247609,16.355892,1.314628,8.045547,NaN
33,North Carolina,0.044485,0.306326,10.256090,0.433630,8.647098,13.930029
34,North Dakota,0.045167,0.180082,4.591009,1.513242,9.879174,17.474037
35,Ohio,0.044803,0.246825,14.008922,1.573472,10.610547,21.249214
36,Oklahoma,0.046982,0.358062,11.119297,0.508659,8.839043,22.822242
37,Oregon,0.039308,0.196621,11.028141,0.527590,8.454995,12.524966
38,Pennsylvania,0.043531,0.311192,12.754686,1.717862,9.729057,16.637244
39,Rhode Island,0.042253,0.327866,12.366971,0.241377,6.972703,NaN
40,South Carolina,0.042611,0.126346,7.662837,0.324132,8.733550,16.344151
41,South Dakota,0.044670,0.243321,8.693870,0.143098,7.131461,20.307816
42,Tennessee,0.045132,0.275034,11.048285,3.241570,8.779672,19.792890
43,Texas,0.041625,0.283932,10.996988,2.459149,9.246793,31.043890
44,Utah,0.045857,0.193897,11.924623,1.108415,7.060024,17.876067
45,Vermont,0.038712,0.176364,8.933874,0.228972,6.343465,NaN
46,Virginia,0.042803,0.281207,11.686888,1.187266,8.282406,15.901601
47,Washington,0.038034,0.210981,18.083577,0.509805,7.389618,18.691259
48,West Virginia,0.042941,0.209500,NaN,2.087787,10.146531,18.092358
49,Wisconsin,0.045820,0.244814,10.267507,0.897934,9.154571,18.616373
50,Wyoming,0.048052,0.110167,4.915887,1.324097,3.821143,11.348264
51,Puerto Rico,0.022648,0.223732,9.123129,0.748455,4.002985,40.083745
52,Virgin Islands,NaN,NaN,NaN,NaN,NaN,NaN
53,Country Of Mexico,0.042174,NaN,NaN,NaN,12.605847,54.398329

In [62]:
#Breakpoints

df['Carbon Average'].fillna(0, inplace= True)
df['Nitrogen Average'].fillna(0, inplace= True)
df['Ozone Average'].fillna(0, inplace= True)
df['Sulfur Average'].fillna(0, inplace= True)
df['PM2.5 Average'].fillna(0, inplace= True)
df['PM10 Average'].fillna(0, inplace= True)


pm25_breakpoints = {
    (0.0, 9): (0, 50),
    (9.1, 35.4): (51, 100),
    (35.5, 55.4): (101, 150),
    (55.5, 150.4): (151, 200),
    (150.5, 250.4): (201, 300),
    (250.5, 350.4): (301, 400),
    (350.5, 500.4): (401, 500)
}
pm10_breakpoints = {
    (0.0, 54.9): (0, 50),
    (55, 154.9): (51, 100),
    (155, 254.9): (101, 150),
    (255, 354.9): (151, 200),
    (355, 424.9): (201, 300),
    (425, 504.9): (301, 400),
    (505, 609): (401, 500)
}

no2_breakpoints = {
    (0, 53): (0, 50),
    (54, 100): (51, 100),
    (101, 360): (101, 150),
    (361, 649): (151, 200),
    (650, 1249): (201, 300),
    (1250, 1649): (301, 400),
    (1650, 2049): (401, 500)
}
ozone_breakpoints = {
    (0, 54): (0, 50),
    (55, 70): (51, 100),
    (71, 85): (101, 150),
    (86, 105): (151, 200),
    (106, 200): (201, 300)
}
carbon_breakpoints = {
    (0, 4.4): (0, 50),
    (4.5, 9.4): (51, 100),
    (9.5, 12.4): (101, 150),
    (12.5, 15.4): (151, 200),
    (15.5, 30.4): (201, 300)
}

sulphur_breakpoints = {
    (0, 35.9): (0, 50),
    (36, 76.9): (51, 100),
    (77, 185.9): (101, 150),
    (186, 304.9): (151, 200),
    (305, 604.9): (201, 300)
}

def calculate_aqi_from_concentration(concentration, breakpoints):
    for (bp_lo, bp_hi), (aqi_lo, aqi_hi) in breakpoints.items():
        if bp_lo <= concentration <= bp_hi:
            return round(((aqi_hi - aqi_lo) / (bp_hi - bp_lo)) * (concentration - bp_lo) + aqi_lo)
    # Return maximum AQI value otherwise
    return 500

# Round each concentration to match the breakpoints
df['Carbon Average'] = df['Carbon Average'].apply(lambda x: round(x, 1))
df['Nitrogen Average'] = df['Nitrogen Average'].apply(lambda x: round(x))
df['Ozone Average'] = df['Ozone Average'].apply(lambda x: round(x,100))
df['Sulfur Average'] = df['Sulfur Average'].apply(lambda x: round(x))
df['PM2.5 Average'] = df['PM2.5 Average'].apply(lambda x: round(x, 1))
df['PM10 Average'] = df['PM10 Average'].apply(lambda x: round(x, 1))


# Calculate the AQI for each pollutant
df['Ozone AQI'] = df['Ozone Average'].apply(lambda x: calculate_aqi_from_concentration(x, ozone_breakpoints))
df['Carbon AQI'] = df['Carbon Average'].apply(lambda x: calculate_aqi_from_concentration(x, carbon_breakpoints))
df['Nitrogen AQI'] = df['Nitrogen Average'].apply(lambda x: calculate_aqi_from_concentration(x, no2_breakpoints))
df['Sulfur AQI'] = df['Sulfur Average'].apply(lambda x: calculate_aqi_from_concentration(x, sulphur_breakpoints))
df['PM2.5 AQI'] = df['PM2.5 Average'].apply(lambda x: calculate_aqi_from_concentration(x, pm25_breakpoints))
df['PM10 AQI'] = df['PM10 Average'].apply(lambda x: calculate_aqi_from_concentration(x, pm10_breakpoints))


df 
# The overall AQI for the date would be the maximum AQI value across all pollutants
df['Overall AQI'] = df[['PM2.5 AQI', 'Nitrogen AQI', 'Ozone AQI', 'PM10 AQI', 'Sulfur AQI','Carbon AQI']].max(axis=1).round().astype(int)

/var/folders/fv/gm4d2djs439gd7bv191m04dh0000gn/T/ipykernel_728/4140361468.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Carbon Average'].fillna(0, inplace= True)
/var/folders/fv/gm4d2djs439gd7bv191m04dh0000gn/T/ipykernel_728/4140361468.py:5: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Ozone Average'].fillna(0, inplace= True)
/var/folders/fv/gm4d2djs439gd7bv191m04dh0000gn/T/ipykernel_728/4140361468.py:6: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Sulfur Average'].fillna(0, inplace= True)
/var/folders/fv/gm4d2djs439gd7bv191m04dh0000gn/T/ipykernel_728/4140361468.py:7: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['PM2.5 Average'].fillna(0, inplace= True)
/var/folders/fv/gm4d2djs439gd7bv191m04dh0000gn/T/ipykernel_728/4140361468.py:8: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['PM10 Average'].fillna(0, inplace= True)

In [63]:
df

,State Name,Ozone Average,Carbon Average,Nitrogen Average,Sulfur Average,PM2.5 Average,PM10 Average,Ozone AQI,Carbon AQI,Nitrogen AQI,Sulfur AQI,PM2.5 AQI,PM10 AQI,Overall AQI
0,Alabama,0,0.2,15,2,8.4,19.9,0,2,14,3,47,18,47
1,Alaska,0,0.3,0,2,4.5,11.6,0,3,0,3,25,11,25
2,Arizona,0,0.3,20,2,7.3,32.0,0,3,19,3,41,29,41
3,Arkansas,0,0.4,6,1,11.0,0.0,0,5,6,1,55,0,55
4,California,0,0.3,13,1,7.7,25.2,0,3,12,1,43,23,43
5,Colorado,0,0.3,12,2,6.0,19.0,0,3,11,3,33,17,33
6,Connecticut,0,0.3,16,0,7.5,14.9,0,3,15,0,42,14,42
7,Delaware,0,0.0,14,0,8.9,0.0,0,0,13,0,49,0,49
8,District Of Columbia,0,0.3,16,1,8.7,17.7,0,3,15,1,48,16,48
9,Florida,0,0.3,12,2,7.1,18.5,0,3,11,3,39,17,39
10,Georgia,0,0.5,19,2,10.0,18.4,0,6,18,3,53,17,53
11,Hawaii,0,0.1,6,3,3.3,14.5,0,1,6,4,18,13,18
12,Idaho,0,0.2,15,4,0.0,45.4,0,2,14,6,0,41,41
13,Illinois,0,0.2,18,2,9.1,29.2,0,2,17,3,51,27,51
14,Indiana,0,0.3,11,2,10.4,21.0,0,3,10,3,53,19,53
15,Iowa,0,0.2,6,1,10.8,34.9,0,2,6,1,54,32,54
16,Kansas,0,0.1,8,0,8.1,24.7,0,1,8,0,45,22,45
17,Kentucky,0,0.3,11,1,8.5,20.3,0,3,10,1,47,18,47
18,Louisiana,0,0.3,9,2,9.0,19.7,0,3,8,3,50,18,50
19,Maine,0,0.2,7,0,6.2,14.4,0,2,7,0,34,13,34
20,Maryland,0,0.2,14,0,7.0,0.0,0,2,13,0,39,0,39
21,Massachusetts,0,0.3,11,0,7.0,13.7,0,3,10,0,39,12,39
22,Michigan,0,0.3,15,2,10.8,20.1,0,3,14,3,54,18,54
23,Minnesota,0,0.3,11,1,7.9,21.8,0,3,10,1,44,20,44
24,Mississippi,0,0.2,7,0,10.0,20.5,0,2,7,0,53,19,53
25,Missouri,0,0.3,14,10,9.6,24.7,0,3,13,14,52,22,52
26,Montana,0,0.2,3,2,7.6,18.6,0,2,3,3,42,17,42
27,Nebraska,0,0.2,0,2,7.2,21.1,0,2,0,3,40,19,40
28,Nevada,0,0.3,20,1,5.1,21.0,0,3,19,1,28,19,28
29,New Hampshire,0,0.2,4,1,5.9,11.2,0,2,4,1,33,10,33
30,New Jersey,0,0.4,18,1,8.8,0.0,0,5,17,1,49,0,49
31,New Mexico,0,0.2,11,39,5.9,27.6,0,2,10,55,33,25,55
32,New York,0,0.2,16,1,8.0,0.0,0,2,15,1,44,0,44
33,North Carolina,0,0.3,10,0,8.6,13.9,0,3,9,0,48,13,48
34,North Dakota,0,0.2,5,2,9.9,17.5,0,2,5,3,52,16,52
35,Ohio,0,0.2,14,2,10.6,21.2,0,2,13,3,54,19,54
36,Oklahoma,0,0.4,11,1,8.8,22.8,0,5,10,1,49,21,49
37,Oregon,0,0.2,11,1,8.5,12.5,0,2,10,1,47,11,47
38,Pennsylvania,0,0.3,13,2,9.7,16.6,0,3,12,3,52,15,52
39,Rhode Island,0,0.3,12,0,7.0,0.0,0,3,11,0,39,0,39
40,South Carolina,0,0.1,8,0,8.7,16.3,0,1,8,0,48,15,48
41,South Dakota,0,0.2,9,0,7.1,20.3,0,2,8,0,39,18,39
42,Tennessee,0,0.3,11,3,8.8,19.8,0,3,10,4,49,18,49
43,Texas,0,0.3,11,2,9.2,31.0,0,3,10,3,51,28,51
44,Utah,0,0.2,12,1,7.1,17.9,0,2,11,1,39,16,39
45,Vermont,0,0.2,9,0,6.3,0.0,0,2,8,0,35,0,35
46,Virginia,0,0.3,12,1,8.3,15.9,0,3,11,1,46,14,46
47,Washington,0,0.2,18,1,7.4,18.7,0,2,17,1,41,17,41
48,West Virginia,0,0.2,0,2,10.1,18.1,0,2,0,3,53,16,53
49,Wisconsin,0,0.2,10,1,9.2,18.6,0,2,9,1,51,17,51
50,Wyoming,0,0.1,5,1,3.8,11.3,0,1,5,1,21,10,21
51,Puerto Rico,0,0.2,9,1,4.0,40.1,0,2,8,1,22,37,37
52,Virgin Islands,0,0.0,0,0,0.0,0.0,0,0,0,0,0,0,0
53,Country Of Mexico,0,0.0,0,0,12.6,54.4,0,0,0,0,58,50,58

In [52]:
#Define the years as strings
years = ["2004"]

In [53]:
#Clean all the data.
for year in years:
    cleanData(year)

C:\Users\anasa\AppData\Local\Temp\ipykernel_10616\963579143.py:60: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Carbon Average'].fillna(0, inplace= True)
C:\Users\anasa\AppData\Local\Temp\ipykernel_10616\963579143.py:61: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Nitrogen Average'].fillna(0, inplace= True)
C:\Users\anasa\AppData\Local\Temp\ipykernel_10616\963579143.py:62: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Ozone Average'].fillna(0, inplace= True)
C:\Users\anasa\AppData\Local\Temp\ipykernel_10616\963579143.py:63: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Sulfur Average'].fillna(0, inplace= True)
C:\Users\anasa\AppData\Local\Temp\ipykernel_10616\963579143.py:64: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['PM2.5 Average'].fillna(0, inplace= True)
C:\Users\anasa\AppData\Local\Temp\ipykernel_10616\963579143.py:65: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['PM10 Average'].fillna(0, inplace= True)