## Data Cleaning - Pre-Generated Data Files  
### EPA - United States Environmental Protection Agency  

**Link:** [EPA Air Data Download Files](https://aqs.epa.gov/aqsweb/airdata/download_files.html)

In [2]:
import pandas as pd

def cleanData(year: str):
    # change to respective path
    df = pd.read_csv(f'../data/raw-data/annual_conc_by_monitor/individual-data/annual_conc_by_monitor_{year}.csv', low_memory=False)
    #Ozone Data Cleaning and Processing
    filtered_Ozone_df = df[(df['Parameter Name'] == 'Ozone') & (df['Sample Duration'] == '8-HR RUN AVG BEGIN HOUR')]

    # Calculating the average of 'Arithmetic Mean' grouped by 'State Code'

    ozone_average_by_state = filtered_Ozone_df.groupby('State Name')['Arithmetic Mean'].mean().reset_index(name='Ozone Average')

    filtered_Sulfur_df = df[(df['Parameter Name'] == 'Sulfur dioxide') & (df['Sample Duration'] == '1 HOUR')]

    #Calculating the average of 'Arithmetic Mean' grouped by 'State Code'
    sulfur_average_by_state = filtered_Sulfur_df.groupby('State Name')['Arithmetic Mean'].mean().reset_index(name='Sulfur Average')

    filtered_Carbon_df = df[(df['Parameter Name'] == 'Carbon monoxide') & (df['Sample Duration'] == '8-HR RUN AVG END HOUR')]

    # Calculating the average of 'Arithmetic Mean' grouped by 'State Code'
    carbon_average_by_state = filtered_Carbon_df.groupby('State Name')['Arithmetic Mean'].mean().reset_index(name='Carbon Average')

    filtered_Nitrogen_df = df[(df['Parameter Name'] == 'Nitrogen dioxide (NO2)') & (df['Sample Duration'] == '1 HOUR')]

    # Calculating the average of 'Arithmetic Mean' grouped by 'State Code'
    nitrogen_average_by_state = filtered_Nitrogen_df.groupby('State Name')['Arithmetic Mean'].mean().reset_index(name='Nitrogen Average')

    filtered_Small_df = df[(df['Parameter Name'] == 'PM2.5 - Local Conditions') & (df['Sample Duration'] == '24-HR BLK AVG')]

    # Calculating the average of 'Arithmetic Mean' grouped by 'State Code'
    small_particulate_average_by_state = filtered_Small_df.groupby('State Name')['Arithmetic Mean'].mean().reset_index(name='PM2.5 Average')

    filtered_df = df[(df['Parameter Name'] == 'PM10 Total 0-10um STP') & (df['Sample Duration'] == '24-HR BLK AVG')]

    # Calculating the average of 'Arithmetic Mean' grouped by 'State Code'
    large_particulate_average_by_state = filtered_df.groupby('State Name')['Arithmetic Mean'].mean().reset_index(name='PM10 Average')

    all_cols = df.columns.tolist()
    selected_cols = [  'Year','State Name',
                     "Ozone Average","Carbon Average",	"Nitrogen Average",	
                     "Sulfur Average",	"PM2.5 Average","PM10 Average",]
    
    remove_cols = list(set(all_cols) - set(selected_cols))
    df.drop(remove_cols, axis=1, inplace=True)

    df.drop_duplicates(inplace=True, ignore_index=True)

    df = df.merge(ozone_average_by_state, on='State Name', how='left')
    df = df.merge(carbon_average_by_state, on='State Name', how='left')
    df = df.merge(nitrogen_average_by_state, on='State Name', how='left')
    df = df.merge(sulfur_average_by_state, on='State Name', how='left')
    df = df.merge(small_particulate_average_by_state, on='State Name', how='left')
    df = df.merge(large_particulate_average_by_state, on='State Name', how='left')
    

    return df

In [21]:
# Ozone filteration and average calulation by state

df = pd.read_csv(f'../data/raw-data/annual_conc_by_monitor/individual-data/annual_conc_by_monitor_{year}.csv', low_memory=False)

filtered_df = df[(df['Parameter Name'] == 'Ozone') & (df['Sample Duration'] == '8-HR RUN AVG BEGIN HOUR')]

# Calculating the average of 'Arithmetic Mean' grouped by 'State Code'
#ozone_average_by_state = filtered_df.groupby('State Name')['Arithmetic Mean'].mean()
ozone_average_by_state = filtered_df.groupby('State Name')['Arithmetic Mean'].mean().reset_index(name='Ozone Average')

#df = df.merge(ozone_average_by_state, on='State Name', how='left')

#df
ozone_average_by_state
# Display the result
#print(ozone_average_by_state)

              State Name  Ozone Average
0                Alabama       0.043222
1                 Alaska       0.028366
2                Arizona       0.049037
3               Arkansas       0.041512
4             California       0.042853
5               Colorado       0.049375
6            Connecticut       0.044706
7      Country Of Mexico       0.042174
8               Delaware       0.044349
9   District Of Columbia       0.039905
10               Florida       0.038653
11               Georgia       0.042953
12                Hawaii       0.026811
13                 Idaho       0.046905
14              Illinois       0.046454
15               Indiana       0.044837
16                  Iowa       0.045449
17                Kansas       0.047159
18              Kentucky       0.044757
19             Louisiana       0.040354
20                 Maine       0.036762
21              Maryland       0.045658
22         Massachusetts       0.040997
23              Michigan       0.042968
24             Minnesota       0.042678
25           Mississippi       0.044182
26              Missouri       0.047129
27               Montana       0.044070
28              Nebraska       0.046293
29                Nevada       0.047099
30         New Hampshire       0.040478
31            New Jersey       0.042759
32            New Mexico       0.045422
33              New York       0.040739
34        North Carolina       0.044485
35          North Dakota       0.045167
36                  Ohio       0.044803
37              Oklahoma       0.046982
38                Oregon       0.039308
39          Pennsylvania       0.043531
40           Puerto Rico       0.022648
41          Rhode Island       0.042253
42        South Carolina       0.042611
43          South Dakota       0.044670
44             Tennessee       0.045132
45                 Texas       0.041625
46                  Utah       0.045857
47               Vermont       0.038712
48              Virginia       0.042803
49            Washington       0.038034
50         West Virginia       0.042941
51             Wisconsin       0.045820
52               Wyoming       0.048052

In [ ]:
#Sulphur averagecalulcation by state

df = pd.read_csv(f'/Users/rahib/ctp_data/annual_conc_by_monitor_2023.csv', low_memory=False)

filtered_df = df[(df['Parameter Name'] == 'Sulfur dioxide') & (df['Sample Duration'] == '1 HOUR')]

# Calculating the average of 'Arithmetic Mean' grouped by 'State Code'
sulfur_average_by_state = filtered_df.groupby('State Name')['Arithmetic Mean'].mean().reset_index(name='Sulfur Average')


# Display the result
print(sulfur_average_by_state)

In [ ]:
#Carbon Average Calculation by State

df = pd.read_csv(f'/Users/rahib/ctp_data/annual_conc_by_monitor_2023.csv', low_memory=False)

filtered_df = df[(df['Parameter Name'] == 'Carbon monoxide') & (df['Sample Duration'] == '8-HR RUN AVG END HOUR')]

# Calculating the average of 'Arithmetic Mean' grouped by 'State Code'
carbon_average_by_state = filtered_df.groupby('State Name')['Arithmetic Mean'].mean().reset_index(name='Carbon Average')

# Display the result
print(carbon_average_by_state)

In [ ]:
#Nitrogen Average Calculation by State

df = pd.read_csv(f'/Users/rahib/ctp_data/annual_conc_by_monitor_2023.csv', low_memory=False)

filtered_df = df[(df['Parameter Name'] == 'Nitrogen dioxide (NO2)') & (df['Sample Duration'] == '1 HOUR')]

# Calculating the average of 'Arithmetic Mean' grouped by 'State Code'
nitrogen_average_by_state = filtered_df.groupby('State Name')['Arithmetic Mean'].mean().reset_index(name='Nitrogen Average')

# Display the result
print(nitrogen_average_by_state)

In [ ]:
#PM2.5 Average Calculation by State

df = pd.read_csv(f'/Users/rahib/ctp_data/annual_conc_by_monitor_2023.csv', low_memory=False)

filtered_df = df[(df['Parameter Name'] == 'PM2.5 - Local Conditions') & (df['Sample Duration'] == '24-HR BLK AVG')]

# Calculating the average of 'Arithmetic Mean' grouped by 'State Code'
small_particulate_average_by_state = filtered_df.groupby('State Name')['Arithmetic Mean'].mean().reset_index(name='PM2.5 Average')

# Display the result
print(small_particulate_average_by_state)

In [ ]:
#PM10 Average Calculation by State

df = pd.read_csv(f'/Users/rahib/ctp_data/annual_conc_by_monitor_2023.csv', low_memory=False)

filtered_df = df[(df['Parameter Name'] == 'PM10 Total 0-10um STP') & (df['Sample Duration'] == '24-HR BLK AVG')]


# Calculating the average of 'Arithmetic Mean' grouped by 'State Code'
large_particulate_average_by_state = filtered_df.groupby('State Name')['Arithmetic Mean'].mean().reset_index(name='PM10 Average')

# Display the result
print(large_particulate_average_by_state)

In [ ]:
df = df.merge(ozone_average_by_state, on='State Name', how='left')
df = df.merge(carbon_average_by_state, on='State Name', how='left')
df = df.merge(nitrogen_average_by_state, on='State Name', how='left')
df = df.merge(sulfur_average_by_state, on='State Name', how='left')
df = df.merge(small_particulate_average_by_state, on='State Name', how='left')
df = df.merge(large_particulate_average_by_state, on='State Name', how='left')
df

In [63]:
all_cols = df.columns.tolist()
selected_cols = [   'State Name',
                     "Ozone Average","Carbon Average",	"Nitrogen Average",	
                     "Sulfur Average",	"PM2.5 Average","PM10 Average",]
    
remove_cols = list(set(all_cols) - set(selected_cols))
df.drop(remove_cols, axis=1, inplace=True)

df.drop_duplicates(inplace=True, ignore_index=True)

In [ ]:
df.drop_duplicates(inplace=True, ignore_index=True)
df

In [ ]:
#Breakpoints

pm25_breakpoints = {
    (0.0, 12.0): (0, 50),
    (12.1, 35.4): (51, 100),
    (35.5, 55.4): (101, 150),
    (55.5, 150.4): (151, 200),
    (150.5, 250.4): (201, 300),
    (250.5, 350.4): (301, 400),
    (350.5, 500.4): (401, 500)
}
pm10_breakpoints = {
    (0.0, 54.9): (0, 50),
    (55, 154.9): (51, 100),
    (155, 254.9): (101, 150),
    (255, 354.9): (151, 200),
    (355, 424.9): (201, 300),
    (425, 504.9): (301, 400),
    (505, 609): (401, 500)
}

no2_breakpoints = {
    (0, 53): (0, 50),
    (54, 100): (51, 100),
    (101, 360): (101, 150),
    (361, 649): (151, 200),
    (650, 1249): (201, 300),
    (1250, 1649): (301, 400),
    (1650, 2049): (401, 500)
}
ozone_breakpoints = {
    (0, 54): (0, 50),
    (55, 70): (51, 100),
    (71, 85): (101, 150),
    (86, 105): (151, 200),
    (106, 200): (201, 300)
}
carbon_breakpoints = {
    (0, 4.4): (0, 50),
    (4.5, 9.4): (51, 100),
    (9.5, 12.4): (101, 150),
    (12.5, 15.4): (151, 200),
    (15.5, 30.4): (201, 300)
}

sulphur_breakpoints = {
    (0, 35.9): (0, 50),
    (36, 76.9): (51, 100),
    (77, 185.9): (101, 150),
    (186, 304.9): (151, 200),
    (305, 604.9): (201, 300)
}

def calculate_aqi_from_concentration(concentration, breakpoints):
    for (bp_lo, bp_hi), (aqi_lo, aqi_hi) in breakpoints.items():
        if bp_lo <= concentration <= bp_hi:
            return ((aqi_hi - aqi_lo) / (bp_hi - bp_lo)) * (concentration - bp_lo) + aqi_lo
    # Return maximum AQI value otherwise
    return 500

# Truncate the concentration values according to the rules
df['Fine particles (PM 2.5)'] = df['Fine particles (PM 2.5)'].apply(lambda x: round(x, 1))
df['Nitrogen dioxide (NO2)'] = df['Nitrogen dioxide (NO2)'].apply(lambda x: round(x))
df['Ozone (O3)'] = df['Ozone (O3)'].apply(lambda x: round(x))

# Calculate the AQI for each pollutant
df['PM2.5 AQI'] = df['Fine particles (PM 2.5)'].apply(lambda x: calculate_aqi_from_concentration(x, pm25_breakpoints))
df['NO2 AQI'] = df['Nitrogen dioxide (NO2)'].apply(lambda x: calculate_aqi_from_concentration(x, no2_breakpoints))
df['Ozone AQI'] = df['Ozone (O3)'].apply(lambda x: calculate_aqi_from_concentration(x, ozone_breakpoints))

# The overall AQI for the date would be the maximum AQI value across all pollutants
AQdf['AQI'] = df[['PM2.5 AQI', 'NO2 AQI', 'Ozone AQI']].mean(axis=1).round().astype(int)

In [63]:
df

,State Name,Ozone Average,Carbon Average,Nitrogen Average,Sulfur Average,PM2.5 Average,PM10 Average,Ozone AQI,Carbon AQI,Nitrogen AQI,Sulfur AQI,PM2.5 AQI,PM10 AQI,Overall AQI
0,Alabama,0,0.2,15,2,8.4,19.9,0,2,14,3,47,18,47
1,Alaska,0,0.3,0,2,4.5,11.6,0,3,0,3,25,11,25
2,Arizona,0,0.3,20,2,7.3,32.0,0,3,19,3,41,29,41
3,Arkansas,0,0.4,6,1,11.0,0.0,0,5,6,1,55,0,55
4,California,0,0.3,13,1,7.7,25.2,0,3,12,1,43,23,43
5,Colorado,0,0.3,12,2,6.0,19.0,0,3,11,3,33,17,33
6,Connecticut,0,0.3,16,0,7.5,14.9,0,3,15,0,42,14,42
7,Delaware,0,0.0,14,0,8.9,0.0,0,0,13,0,49,0,49
8,District Of Columbia,0,0.3,16,1,8.7,17.7,0,3,15,1,48,16,48
9,Florida,0,0.3,12,2,7.1,18.5,0,3,11,3,39,17,39
10,Georgia,0,0.5,19,2,10.0,18.4,0,6,18,3,53,17,53
11,Hawaii,0,0.1,6,3,3.3,14.5,0,1,6,4,18,13,18
12,Idaho,0,0.2,15,4,0.0,45.4,0,2,14,6,0,41,41
13,Illinois,0,0.2,18,2,9.1,29.2,0,2,17,3,51,27,51
14,Indiana,0,0.3,11,2,10.4,21.0,0,3,10,3,53,19,53
15,Iowa,0,0.2,6,1,10.8,34.9,0,2,6,1,54,32,54
16,Kansas,0,0.1,8,0,8.1,24.7,0,1,8,0,45,22,45
17,Kentucky,0,0.3,11,1,8.5,20.3,0,3,10,1,47,18,47
18,Louisiana,0,0.3,9,2,9.0,19.7,0,3,8,3,50,18,50
19,Maine,0,0.2,7,0,6.2,14.4,0,2,7,0,34,13,34
20,Maryland,0,0.2,14,0,7.0,0.0,0,2,13,0,39,0,39
21,Massachusetts,0,0.3,11,0,7.0,13.7,0,3,10,0,39,12,39
22,Michigan,0,0.3,15,2,10.8,20.1,0,3,14,3,54,18,54
23,Minnesota,0,0.3,11,1,7.9,21.8,0,3,10,1,44,20,44
24,Mississippi,0,0.2,7,0,10.0,20.5,0,2,7,0,53,19,53
25,Missouri,0,0.3,14,10,9.6,24.7,0,3,13,14,52,22,52
26,Montana,0,0.2,3,2,7.6,18.6,0,2,3,3,42,17,42
27,Nebraska,0,0.2,0,2,7.2,21.1,0,2,0,3,40,19,40
28,Nevada,0,0.3,20,1,5.1,21.0,0,3,19,1,28,19,28
29,New Hampshire,0,0.2,4,1,5.9,11.2,0,2,4,1,33,10,33
30,New Jersey,0,0.4,18,1,8.8,0.0,0,5,17,1,49,0,49
31,New Mexico,0,0.2,11,39,5.9,27.6,0,2,10,55,33,25,55
32,New York,0,0.2,16,1,8.0,0.0,0,2,15,1,44,0,44
33,North Carolina,0,0.3,10,0,8.6,13.9,0,3,9,0,48,13,48
34,North Dakota,0,0.2,5,2,9.9,17.5,0,2,5,3,52,16,52
35,Ohio,0,0.2,14,2,10.6,21.2,0,2,13,3,54,19,54
36,Oklahoma,0,0.4,11,1,8.8,22.8,0,5,10,1,49,21,49
37,Oregon,0,0.2,11,1,8.5,12.5,0,2,10,1,47,11,47
38,Pennsylvania,0,0.3,13,2,9.7,16.6,0,3,12,3,52,15,52
39,Rhode Island,0,0.3,12,0,7.0,0.0,0,3,11,0,39,0,39
40,South Carolina,0,0.1,8,0,8.7,16.3,0,1,8,0,48,15,48
41,South Dakota,0,0.2,9,0,7.1,20.3,0,2,8,0,39,18,39
42,Tennessee,0,0.3,11,3,8.8,19.8,0,3,10,4,49,18,49
43,Texas,0,0.3,11,2,9.2,31.0,0,3,10,3,51,28,51
44,Utah,0,0.2,12,1,7.1,17.9,0,2,11,1,39,16,39
45,Vermont,0,0.2,9,0,6.3,0.0,0,2,8,0,35,0,35
46,Virginia,0,0.3,12,1,8.3,15.9,0,3,11,1,46,14,46
47,Washington,0,0.2,18,1,7.4,18.7,0,2,17,1,41,17,41
48,West Virginia,0,0.2,0,2,10.1,18.1,0,2,0,3,53,16,53
49,Wisconsin,0,0.2,10,1,9.2,18.6,0,2,9,1,51,17,51
50,Wyoming,0,0.1,5,1,3.8,11.3,0,1,5,1,21,10,21
51,Puerto Rico,0,0.2,9,1,4.0,40.1,0,2,8,1,22,37,37
52,Virgin Islands,0,0.0,0,0,0.0,0.0,0,0,0,0,0,0,0
53,Country Of Mexico,0,0.0,0,0,12.6,54.4,0,0,0,0,58,50,58

In [3]:
#Define the years as strings
years = [str(year) for year in range(2000, 2024)]

In [6]:
#Clean all the data.
df = pd.DataFrame()

for year in years:
    partial_df = cleanData(year)
    df = pd.concat([df,partial_df])

df.to_csv('../Processed_Data/AQI_Ratings2.csv', index=False)